html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
    margin:0;padding:0;border:0;font:inherit;vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,div
{
    display:block;box-sizing:border-box
}
body,html
{
    width:100%;font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;font-size:1.000em;color:#000;background-color:#fff
}
a
{
    text-decoration:none;color:#000
}
strong,b
{
    font-weight:700
}
*,*:after,*:before
{
    box-sizing:border-box;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;text-rendering:optimizeLegibility
}
.site-header
{
    position:relative;float:left;width:100%
}
.site-title
{
    color:#000;font-size:1.625em;padding-top:48px;padding-left:50px;font-weight:900;position:relative;z-index:2;display:inline-block;-webkit-transition:all 0.3s ease;transition:all 0.3s ease
}
.site-title .collapse
{
    display:inline-block;max-width:100px;-webkit-transition:max-width 0.3s cubic-bezier(0, 0, 0, 1);transition:max-width 0.3s cubic-bezier(0, 0, 0, 1)
}
.site-title .collapse i
{
    font-style:inherit
}
.site-title .collapse i:nth-of-type(1)
{
    -webkit-transition:all 0.2s ease;transition:all 0.2s ease
}
.site-title .collapse i:nth-of-type(2)
{
    -webkit-transition:all 0.2s 0.05s ease;transition:all 0.2s 0.05s ease
}
.site-title .collapse i:nth-of-type(3)
{
    -webkit-transition:all 0.2s 0.1s ease;transition:all 0.2s 0.1s ease
}
.site-title .collapse i:nth-of-type(4)
{
    -webkit-transition:all 0.2s 0.15s ease;transition:all 0.2s 0.15s ease
}
.site-title .collapse i:nth-of-type(5)
{
    -webkit-transition:all 0.2s 0.15s ease;transition:all 0.2s 0.15s ease
}
.site-title:hover .collapse
{
    max-width:100px;-webkit-transition:max-width 0.3s cubic-bezier(0, 0, 0, 1);transition:max-width 0.3s cubic-bezier(0, 0, 0, 1)
}
.site-title:hover .collapse i
{
    opacity:1;-webkit-transform:translate(0, 0);transform:translate(0, 0)
}
.site-title:hover .collapse i:nth-of-type(1)
{
    -webkit-transition:all 0.2s ease;transition:all 0.2s ease
}
.site-title:hover .collapse i:nth-of-type(2)
{
    -webkit-transition:all 0.2s 0.05s ease;transition:all 0.2s 0.05s ease
}
.site-title:hover .collapse i:nth-of-type(3)
{
    -webkit-transition:all 0.2s 0.1s ease;transition:all 0.2s 0.1s ease
}
.site-title:hover .collapse i:nth-of-type(4)
{
    -webkit-transition:all 0.2s 0.15s ease;transition:all 0.2s 0.15s ease
}
.site-title:hover .collapse i:nth-of-type(5)
{
    -webkit-transition:all 0.2s 0.15s ease;transition:all 0.2s 0.15s ease
}
.site-title.collapsed .collapse
{
    max-width:0;-webkit-transition:max-width 0.3s 0.2s cubic-bezier(0, 0, 0, 1);transition:max-width 0.3s 0.2s cubic-bezier(0, 0, 0, 1)
}
.site-title.collapsed .collapse i
{
    opacity:0;-webkit-transform:translate(0, -5px);transform:translate(0, -5px)
}
.site-title.collapsed .collapse i:nth-of-type(1)
{
    -webkit-transition:all 0.2s 0.15s ease;transition:all 0.2s 0.15s ease
}
.site-title.collapsed .collapse i:nth-of-type(2)
{
    -webkit-transition:all 0.2s 0.1s ease;transition:all 0.2s 0.1s ease
}
.site-title.collapsed .collapse i:nth-of-type(3)
{
    -webkit-transition:all 0.2s 0.05s ease;transition:all 0.2s 0.05s ease
}
.site-title.collapsed .collapse i:nth-of-type(4)
{
    -webkit-transition:all 0.2s ease;transition:all 0.2s ease
}
.site-title.collapsed .collapse i:nth-of-type(5)
{
    -webkit-transition:all 0.2s ease;transition:all 0.2s ease
}
.site-title:hover .collapse
{
    max-width:100px;-webkit-transition:max-width 0.3s cubic-bezier(0, 0, 0, 1);transition:max-width 0.3s cubic-bezier(0, 0, 0, 1)
}
.site-title:hover .collapse i
{
    opacity:1;-webkit-transform:translate(0, 0);transform:translate(0, 0)
}
.site-title:hover .collapse i:nth-of-type(1)
{
    -webkit-transition:all 0.2s ease;transition:all 0.2s ease
}
.site-title:hover .collapse i:nth-of-type(2)
{
    -webkit-transition:all 0.2s 0.05s ease;transition:all 0.2s 0.05s ease
}
.site-title:hover .collapse i:nth-of-type(3)
{
    -webkit-transition:all 0.2s 0.1s ease;transition:all 0.2s 0.1s ease
}
.site-title:hover .collapse i:nth-of-type(4)
{
    -webkit-transition:all 0.2s 0.15s ease;transition:all 0.2s 0.15s ease
}
.site-title:hover .collapse i:nth-of-type(5)
{
    -webkit-transition:all 0.2s 0.15s ease;transition:all 0.2s 0.15s ease
}
.contact--button
{
    position:absolute;width:46px;height:46px;border:1px solid #000;background-color:#000;border-radius:50%;right:50px;top:35px;box-shadow:0px 2px 4px 0px rgba(67,105,116,0.4);-webkit-transform:scale(0.9, 0.9);transform:scale(0.9, 0.9);-webkit-transition:box-shadow 0.2s ease, -webkit-transform 0.2s ease;transition:box-shadow 0.2s ease, -webkit-transform 0.2s ease;transition:transform 0.2s ease, box-shadow 0.2s ease;transition:transform 0.2s ease, box-shadow 0.2s ease, -webkit-transform 0.2s ease;z-index:30
}
.airplane
{
    width:40%;margin-left:50%;margin-top:50%;-webkit-transform:translate(-60%, -54%);transform:translate(-60%, -54%)
}
.contact--button:hover
{box-shadow:0px 0px 0px 0px rgba(67,105,116,0.4);-webkit-transform:scale(1, 1);transform:scale(1, 1);-webkit-transition:box-shadow 0.2s ease, -webkit-transform 0.2s ease;transition:box-shadow 0.2s ease, -webkit-transform 0.2s ease;transition:transform 0.2s ease, box-shadow 0.2s ease;transition:transform 0.2s ease, box-shadow 0.2s ease, -webkit-transform 0.2s ease
}
.site-footer
{
    float:left;position:relative;padding-left:50px;margin-top:100px;margin-bottom:40px;width:100%
}
.footerlinks li:first-child
{
    padding-left:0px;opacity:0.5
}
.footerlinks li
{
    display:inline;padding-left:20px
}
.footerlinks li a
{
    text-decoration:none;color:#000;padding-bottom:2px;position:relative
}
.footerlinks li a:before
{
    content:"";position:absolute;width:100%;height:1.5px;bottom:0;left:0;background-color:#000;visibility:hidden;-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transition:all 0.2s ease;transition:all 0.2s ease
}
.footerlinks li a:hover:before
{
    visibility:visible;-webkit-transform:scaleX(1);transform:scaleX(1)
}
.background
{
    position:relative;width:100%;height:600px
}
.background--overlay
{
    position:absolute;width:100%;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)
}
.relaxing--image
{
    margin:0px auto;text-align:center;width:25%
}
.textblock
{
    width:400px;margin:50px auto 0px auto
}
.title
{
    font-size:1.375em;font-weight:600;opacity:1.0;padding-bottom:5px;text-align:center
}
.subtitle
{
    font-size:1.250em;opacity:0.5;line-height:30px;text-align:center
}
.selectedwork
{
    width:100%;float:left;height:auto;margin-top:0px
}
.rotated--heading
{
    -webkit-transform:rotate(-90deg);transform:rotate(-90deg);-webkit-transform-origin:100% 0;transform-origin:100% 0;padding-right:40px;opacity:0.2;font-size:1.625em;position:absolute;right:90px;line-height:50px;text-align:right
}
.selectedwork--list
{
    width:75%;margin:0px auto
}
.selectedwork--list a
{
    color:#000
}
.selectedwork--list li
{
    list-style:none;padding-bottom:40px;padding-top:40px;border-bottom:1px solid rgba(0,0,0,0.2);-webkit-transition:all 0.2s ease;transition:all 0.2s ease;float:left;width:100%;-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0
}
.selectedwork--list:hover li
{
    color:rgba(0,0,0,0.2);-webkit-transition:color 0.2s ease;transition:color 0.2s ease
}
.selectedwork--list li:hover
{
    color:#000;-webkit-transition:color 0.2s ease;transition:color 0.2s ease
}
.selectedwork--list li:hover .selectedwork--chevron
{
    -webkit-transform:translateX(0px) !important;transform:translateX(0px) !important;opacity:1 !important;-webkit-transition:all 0.2s ease;transition:all 0.2s ease
}
.selectedwork--list:hover .selectedwork--chevron
{
    opacity:0;-webkit-transform:translateX(12px);transform:translateX(12px);-webkit-transition:opacity 0.2s ease, -webkit-transform 0.2s ease;transition:opacity 0.2s ease, -webkit-transform 0.2s ease;transition:transform 0.2s ease, opacity 0.2s ease;transition:transform 0.2s ease, opacity 0.2s ease, -webkit-transform 0.2s ease
}
.selectedwork--left
{
    float:left;width:80%
}
.selectedwork--right
{
    float:left;width:20%
}
.selectedwork--title
{
    font-size:1.125em;padding-bottom:4px;font-weight:600
}
.selectedwork--chevron
{
    float:right;width:12px;padding-top:13px;-webkit-transform:translateX(0px);transform:translateX(0px);opacity:1;-webkit-transition:all 0.2s ease;transition:all 0.2s ease
}
.project--hero.home
{
    height:100vh;background-color:transparent;padding:0px;overflow:initial;float:none;position:relative
}
.center--home
{
    position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);width:100%;margin-top:30px
}
#scrolldown
{
    width:20px;height:20px;left:50%;position:absolute;bottom:30px;cursor:pointer;opacity:0.5
}
@-webkit-keyframes animatedown
{
    from
    {
        -webkit-transform:translateY(8px);transform:translateY(8px)
    }
    to
    {
        -webkit-transform:translateY(0px);transform:translateY(0px)
    }
}
@keyframes animatedown
{
    from
    {
        -webkit-transform:translateY(8px);transform:translateY(8px)
    }
    to
    {
        -webkit-transform:translateY(0px);transform:translateY(0px)
    }
}
#scrolldown
{
    -webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-name:animatedown;animation-name:animatedown;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-direction:alternate;animation-direction:alternate
}
.selectedwork--subtitle
{
    opacity:0.5
}
.site-footer
{
    padding-left:0px
}
.site-footer .wrapper
{
    text-align:center
}
@media screen and (max-width: 768px)
{
    .selectedwork--chevron
    {
        -webkit-transform:translateX(0px);transform:translateX(0px);opacity:1;
    }
    .center--home
    {
        position:relative;left:initial;top:initial;-webkit-transform:initial;transform:initial;width:initial;margin-top:initial
    }
    .project--hero.home
    {
        background-color:transparent;height:100%;padding:12% 0% 12% 0%;float:left
    }
    .selectedwork--list
    {
        width:80%
    }
    #scrolldown
    {
        display:none
    }
}
.project--hero
{
    background-color:rgba(0,0,0,0.5);float:left;padding:150px 0px 150px 0px;-webkit-transition:all 0.4s ease-in;transition:all 0.4s ease-in;opacity:1
}
.project--details
{
    float:left;width:80%;padding-left:50px
}
.project--title
{
    font-size:1.375em;font-weight:600;padding-bottom:5px
}
.project--subtitle
{
    font-size:1.250em;opacity:0.5;line-height:30px
}
.project--subtitle.left
{
    float:left;width:50%;padding-bottom:40px
}
.project--subtitle.right
{
    float:right;width:50%;text-align:right
}
.project--subheader
{
    border-bottom:1px solid rgba(89,137,151,0.2);float:left;width:100%;-webkit-transition:all 0.5s ease-in;transition:all 0.5s ease-in
}
.project--description
{
    margin-top:40px;float:left;-webkit-column-gap:40px;-moz-column-gap:40px;column-gap:40px;-webkit-column-width:50%;-moz-column-width:50%;column-width:50%;-webkit-column-count:2;-moz-column-count:2;column-count:2;text-align:justify;-webkit-transition:all 0.5s ease-in;transition:all 0.5s ease-in
}
.work--article
{
    float:left;margin-top:100px;width:100%
}

.project--slider.project--slider-pseudo--solitude:before{background:#F4FEFF}.slider--img{max-width:80%;margin-left:50px;box-shadow:0px 0px 14px 0px rgba(0,0,0,0.1)}.shrink{padding-right:50px}.slick-dots{position:absolute;right:50px;top:250px}.slick-dots li{padding-bottom:30px;list-style:none}.slick-dots button{border:0;background:transparent;display:block;height:13px;width:13px;outline:none;line-height:0px;font-size:0px;color:transparent;padding:5px;cursor:pointer;border:2px solid #598997;border-radius:50%}.slick-active button{background:#598997}.dots--container:before{top:50px}.prevArrow,.nextArrow{float:right;right:50px;width:20px;position:absolute;height:auto;margin-top:20px;z-index:10}.nextArrow{top:50px}.nextArrow path{color:#000}.content--centered{width:80%;float:left;text-align:left;padding-left:50px;margin:150px auto 0px auto}.description{line-height:1.625em}.content--centered>.project--title{margin-top:50px}.content--centered>.description{margin-top:5px;-webkit-column-count:2;-moz-column-count:2;column-count:2;-webkit-column-gap:40px;-moz-column-gap:40px;column-gap:40px}.divider--dots{list-style:none}.divider--dot{width:10px;height:10px;border:1px solid #598997;border-radius:50%;background:#598997;display:inline-block;margin-right:5px;margin-left:5px}.flex{display:-webkit-box;display:-ms-flexbox;display:flex}.grid:after{content:'';display:table;clear:both}.ai-center{-webkit-box-align:center;-ms-flex-align:center;-ms-grid-row-align:center;align-items:center}.iphone--threecolumn--wrapper{float:left;width:80%;position:relative}.iphone--one__third{width:33.3%;float:left;position:relative}.iphone--white{max-width:80%;display:block;margin:0px auto}.fr-extra{float:right}.fl-extra{float:left}.shape-wrapper{float:left;position:absolute;width:40vw;height:40vw}.shape{position:fixed;height:inherit;width:inherit;left:50%;top:50%;-webkit-transform:translate(-50%, -50%) scale3D(0.8, 0.8, 0.8);transform:translate(-50%, -50%) scale3D(0.8, 0.8, 0.8);overflow:hidden;-webkit-transition:all 1s;transition:all 1s;z-index:-1}.shape.scale{-webkit-transform:translate(-50%, -50%) scale3D(1.1, 1.1, 1.1);transform:translate(-50%, -50%) scale3D(1.1, 1.1, 1.1)}.shape.triangle:after{position:absolute;content:'';height:100%;width:100%;-webkit-transform:skewX(-45deg);transform:skewX(-45deg);-webkit-transform-origin:right bottom;transform-origin:right bottom;background:#000;opacity:0.05;-webkit-transition:all 1s;transition:all 1s}.shape.square:after{position:absolute;content:'';height:100%;width:100%;-webkit-transform:skewX(0deg);transform:skewX(0deg);-webkit-transform-origin:right bottom;transform-origin:right bottom;background:#000;-webkit-transition:all 1s;transition:all 1s}.shape.circle:after{position:absolute;content:'';height:100%;width:100%;-webkit-transform:skewX(0deg);transform:skewX(0deg);border-radius:50%;-webkit-transform-origin:right bottom;transform-origin:right bottom;background:#000;-webkit-transition:all 1s;transition:all 1s}.project--hero{background-color:transparent;height:100%;padding:12% 0% 12% 0%;overflow:hidden}.project--details{margin:0px auto;width:75%;float:none;padding-left:0px}.slider--img{margin:0px auto;width:75%}.shrink{padding-right:0px}.project--slider.project--slider-pseudo--solitude:before{background:none}.center--iphones{width:100%;float:left}.iphone--threecolumn--wrapper{float:none;width:75%;margin:0px auto 0px auto}.small--content__left,.small--content__right{width:75%;margin:0px auto 0px auto}.small--content__left .description{width:50%;float:left;margin-top:175px;margin-bottom:175px}.small--content__right .description{width:50%;margin-top:175px;margin-bottom:175px;float:right}.project--slider--browser:before{content:'Web Design.' !important;display:inline-block !important;-webkit-transform:rotate(-90deg) translateX(30%) !important;transform:rotate(-90deg) translateX(30%) !important;-webkit-transform-origin:0% 100% !important;transform-origin:0% 100% !important;opacity:0.2 !important;font-size:1.625em !important;top:100% !important;position:absolute !important;left:75px}.slick-dots{top:50%}.project--hero.hidden{-webkit-transform:translateY(5%);transform:translateY(5%);opacity:0;-webkit-transition:all 0.3 ease-in;transition:all 0.3 ease-in}.content-wrapper{float:left;width:100%}.browser--video__container{width:75%;margin:0px auto}.browser--video{max-width:100%;display:block;float:left;box-shadow:0px 0px 14px 0px rgba(0,0,0,0.1)}.rotated--heading.left-aligned{left:90px;right:initial;-webkit-transform-origin:0% 100% !important;transform-origin:0% 100% !important;margin-top:150px}.android--video{max-height:79.4%;display:block;position:absolute;left:13.5%;top:10.7%}.iphone--video{max-height:72.7%;display:block;position:absolute;left:16.7%;top:13.1%}.project--slider{float:left;position:relative;width:100%;overflow-x:hidden;}.next-arrow,.back-arrow{position:absolute;right:50px;top:0px;width:20px;height:20px}.back-arrow{top:10px}.next-arrow{top:50px}.project--description{color:rgba(0,0,0,0.5)}.next--case__wrapper{float:left;width:100%;margin-top:150px}.next--case{width:75%;margin:0px auto;padding-top:30px;padding-bottom:30px}.next--case__left{width:30%}.next--case__header{font-size:1.375em;font-weight:600;padding-bottom:5px;float:left;width:75%}.next--case__description{line-height:1.625em;color:rgba(0,0,0,0.5);width:75%;float:left}.next--case__arrow{width:20px;height:20px;-webkit-transform:rotate(-90deg);transform:rotate(-90deg);float:right;margin-top:-15px}@media screen and (max-width: 768px){.rotated--heading{display:none}.project--slider--browser:before{display:none}.project--description{-webkit-column-count:1;-moz-column-count:1;column-count:1}.small--content__left .description{width:100%;margin-top:75px;margin-bottom:75px}.small--content__right .description{width:100%;margin-top:75px;margin-bottom:75px}.project--details,.small--content__left,.small--content__right,.iphone--threecolumn--wrapper,.slider--img{width:80%}.site-title{padding-left:10%}.contact--button{right:50px}.project--subtitle.left{width:100%;padding-bottom:20px}.project--subtitle.right{float:left;text-align:left;width:100%;padding-bottom:20px;padding-top:20px;border-top:1px solid rgba(89,137,151,0.4)}.browser--video__container{width:80%}.next--case__wrapper{margin-top:75px}.next--case{width:80%}.next--case__left{width:100%}}@media screen and (max-width: 414px){.site-footer{float:left;width:100%;padding-left:0px}.site-footer .wrapper{margin:0px auto 40px auto;padding-left:0px;text-align:center;width:80%}.footerlinks li{display:block;padding-bottom:10px;padding-left:0px}}#human--page{width:100%}#human--page .site-title{color:#000}#human--page .contact--button{border:1px solid #FF561F;background-color:#FF561F;box-shadow:0px 2px 4px 0px rgba(255,86,31,0.4)}#roomswap--page .contact--button:hover{box-shadow:0px 2px 4px 0px rgba(255,86,31,0)}#human--page a{color:#FF561F}#human--page .project--header{color:#000}#human--page .rotated--heading{color:#000}#human--page .project--subheader{color:#000}#human--page .description{color:rgba(0,0,0,0.5)}#human--page .shape.triangle:after{background-color:#000;opacity:0.05}#human--page .footerlinks li a{color:#000}#human--page .footerlinks li a:before{background-color:#FF561F}#fitsociety--page{width:100%}#fitsociety--page .site-title{color:#000}#fitsociety--page .contact--button{border:1px solid #191919;background-color:#191919;box-shadow:0px 2px 4px 0px rgba(25,25,25,0.4)}#fitsociety--page .contact--button:hover{box-shadow:0px 2px 4px 0px rgba(25,25,25,0)}#fitsociety--page a{color:#191919}#fitsociety--page .project--header{color:#000}#fitsociety--page .rotated--heading{color:#000}#fitsociety--page .project--subheader{color:#000}#fitsociety--page .description{color:rgba(0,0,0,0.5)}#fitsociety--page .shape.triangle:after{background-color:#000;opacity:0.05}#fitsociety--page .footerlinks li a{color:#000}#fitsociety--page .footerlinks li a:before{background-color:#191919}#fitsociety--page .project--slider--browser:before{color:rgba(0,0,0,0.5)}#roomswap--page{width:100%}#roomswap--page .site-title{color:#4C4C4C}#roomswap--page .contact--button{border:1px solid #00B9FF;background-color:#00B9FF;box-shadow:0px 2px 4px 0px rgba(0,185,255,0.4)}#roomswap--page .contact--button:hover{box-shadow:0px 2px 4px 0px rgba(0,185,255,0)}#roomswap--page a{color:#00B9FF}#roomswap--page .project--header{color:#4C4C4C}#roomswap--page .rotated--heading{color:#4C4C4C}#roomswap--page .project--subheader{color:#4C4C4C}#roomswap--page .description{color:rgba(76,76,76,0.5)}#roomswap--page .shape.triangle:after{background-color:#00B9FF;opacity:0.05}#roomswap--page .footerlinks li a{color:#4C4C4C}#roomswap--page .footerlinks li a:before{background-color:#00B9FF}.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;margin:0;padding:0}.slick-list:focus{outline:none}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}.slick-track{position:relative;left:0;top:0;display:block}.slick-track:before,.slick-track:after{content:"";display:table}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{float:left;height:100%;min-height:1px;display:none}[dir="rtl"] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{
    display:none
}
